@import '../../../sassStyles/variables';
@import '../../../sassStyles/mixins';

.button {
    font-size: 1.5rem;
    font-weight: 500;
    padding: .7rem 1.2rem;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    border: none;
    transition: all .2s;
    backface-visibility: hidden;

    @include for-phone-only {
        font-size: 1.3rem;
    }

    & > :first-child {
        font-size: 1.5rem;

        @include for-phone-only {
            font-size: 1.3rem;
        }
    }

    &:hover {
        scale: 1.1;
        background-color: $btn-primary-color;
    }
}