@import "../../sassStyles/variables";
@import "../../sassStyles/mixins";

.checkout {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  &.mt-lg {
    margin-top: 4rem;
  }

  &-heading {
    margin: 2rem auto;
    width: 60%;
    font-size: 3rem;
    text-shadow: 1px 1px 3px $secondary-color;

    @include for-phone-only {
      margin: 1.5rem auto;
    }
  }

  &-form {
    margin-bottom: 2rem;
    padding: 2rem;
    background: $secondary-bg-color;
    border-radius: 20px;
    box-shadow: 0 5px 15px $shadow-color;

    @include for-phone-only {
      width: 95%;
    }

    @include for-tablet-up {
      width: 95%;
    }

    @include for-desktop-up {
      width: 60%;
    }
  }

  &-content {
    width: 100%;
  }
}
