@import "./variables";

@keyframes showModal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loadingAnimation {
  0% {
    scale: 0.75;
  }

  50% {
    scale: 1.25;
  }

  100% {
    scale: 0.75;
  }
}

@keyframes fixedNavbar {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes checkoutLabels {
  0% {
    scale: 1;
    opacity: 1
  }

  50% {
    scale: 1.2;
    opacity: 0.5;
  }

  100% {
    scale: 1;
    opacity: 1;
  }
}
