// COLORS

$primary-bg-color: rgb(238, 238, 238);
$secondary-bg-color: rgb(252, 252, 252);

$primary-color: #000;
$secondary-color: rgb(148, 148, 148);
$tertiary-color: rgb(102, 102, 102);

$btn-primary-color: rgba(122, 122, 122, 0.61);
$btn-secondary-color: #F0F0F0;
$btn-confirm-color: rgba(49, 223, 107, 0.664);
$btn-cancel-color: rgba(228, 43, 43, 0.685);

$backdrop-shadow: rgba(31, 31, 31, 0.548);

$shadow-color: rgb(165, 165, 165);

$markups-color: rgb(219, 218, 218);

$input-focus: rgb(236, 236, 236);
$input-invalid: rgba(102, 255, 0, 0.336);

// POSITION

$pos-fixed: fixed;